.body-padding-top {
    padding-top: 60px;
}
.body-padding {
     padding-top: 60px;
     padding-bottom: 60px;
 }
.body-padding-bottom {
    padding-bottom: 60px;
}
.body-padding-bottom-two {
    padding-bottom: 180px;
}
.img-overlay-wrap {
    position: relative;
    display: inline-block; /* <= shrinks container to image size */
    transition: transform 150ms ease-in-out;
}
.img-overlay-wrap img { /* <= optional, for responsiveness */
    display: block;
    max-width: 100%;
    height: auto;
}
/* Large Mobile :480px. */
@media only screen and (max-width: 767px) {
    .img-overlay-wrap img { /* <= optional, for responsiveness */
        display: block;
        max-width: 80%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
}

.img-overlay-wrap svg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.fade-out.aos-animate {opacity: 0}

.fab {
    color : rgba(0, 0, 0, 0.8);
}

.fab:hover {
    color : rgba(2, 101, 216, 0.6);
}

/*---------------------
	Resume section
----------------------*/
.resume-list {
    list-style: none;
    margin-left: 60px;
    padding-left: 110px;
    border-left: 2px solid #40424a;
}

.resume-list li {
    margin-bottom: 60px;
    position: relative;
}

.resume-list li:last-child {
    margin-bottom: 0;
}

.resume-list li:after {
    position: absolute;
    content: '';
    width: 15px;
    height: 15px;
    border: 2px solid #40424a;
    border-radius: 50px;
    background: #cacaca;
    top: 10px;
    left: -118px;
}

/* Large Mobile :480px. */
        @media only screen and (max-width: 767px) {
    .resume-list {
        margin-left: 0;
        padding-left: 0;
        border-left: none;
    }
}
.blog-footer {
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
    margin-bottom: 0;
}