.body-padding {
    padding-top: 60px;
}
.img-overlay-wrap {
    position: relative;
    display: inline-block; /* <= shrinks container to image size */
    transition: transform 150ms ease-in-out;
}

.img-overlay-wrap img { /* <= optional, for responsiveness */
    display: block;
    max-width: 100%;
    height: auto;
}

.img-overlay-wrap svg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.fade-out.aos-animate {opacity: 0}

.fab {
    color : rgba(0, 0, 0, 0.8);
}

.fab:hover {
    color : rgba(2, 101, 216, 0.6);
}