
_site/changeCalc.html
_site/css/changeCalcstyles.css
_site/css/footer.css
_site/css/landing.css
_site/css/resumestyles.css
_site/footer.html
_site/header.html
_site/img/background.jpg
_site/img/bill.jpeg
_site/img/favicon.ico
_site/img/landing.jpg
_site/index.html
_site/js/jquery-3.3.1.min.js
_site/README.md
_site/resume.html
