h1 {
    color: #009973;
	font-family: Arial, Helvetica, sans-serif;
}
h2 {
    color: #009973;
	font-family: Arial, Helvetica, sans-serif;
}
h3 {
	font-family: Arial, Helvetica, sans-serif;
}
p {
	font-family: Arial, Helvetica, sans-serif;
}
a {
	color: #009973;
}
hr {
    color: #009973;
	background-color: #009973;
	font-family: Arial, Helvetica, sans-serif;
	height: 1px;
}
ul {
	font-family: Arial, Helvetica, sans-serif;
}
li {
	font-family: Arial, Helvetica, sans-serif;
}